body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding-top: 50px;
  }
  
  h1 {
    color: #0055aa;
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
  }
  